body{
	background-color: #eeeeee;
	font-family:  Helvetica, Arial, sans-serif;
	margin: 0;
}

nav{
	background-color: #ffffff;
	border-top-color: #ff4700;
	border-top-width: 5px;
	border-top-style: solid;
}

nav li{
	list-style: none;
	display: inline; 
	margin-left: 20px;
}

nav li:first-child{
	margin-left: 0;
}

nav a{
	color: #ff4700; /* orange links */
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}
nav img {
	vertical-align: middle; 
	margin-right: 459px;
	border-radius: 3px;
}

#buy_now{
	background-color: #ff4700;
	color: #ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4700+65,ff3300+85 */
background: #ff4700; /* Old browsers */
background: -moz-linear-gradient(top, #ff4700 65%, #ff3300 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff4700 65%,#ff3300 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff4700 65%,#ff3300 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4700', endColorstr='#ff3300',GradientType=0 ); /* IE6-9 */

}

#buy_now:hover{
	text-decoration: none;
}

nav ul{
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: blue;*/	
	width: 960px;
	margin: 0 auto;
}

main {
	width: 960px;
	margin: auto;
}

header{
	background-color: #fcfcfc;
	width: 720px;
}
article header ul{
	padding-left: 0;
	list-style: none;

}

article header li{
	display: inline;
	color: #333333;

}

article h1{
	font-family: serif;
	font-size: xx-large;
	font-weight: 400px;
	margin-top: -20px;
}

article h1 a:hover{
	color:;
} 

article p{
	color: #333333;
	width: 700px;
	background-color: #fcfcfc;
	margin:0 auto;
}

article footer{
	background-color: #fcfcfc;
	padding: 15px 30px;
	border-top: 1px solid #dddddd;

}

.badge{
	background-color: #323232;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border: 6px solid #ffffff;
	position: relative;
	bottom: 35px;
	margin: 0 auto;
}
.badge i{
	color: #ffffff;
	line-height: 50px;
	font-size: 25px;
}

.article-content{
	background-color: #fcfcfc;
}

article{
	background-color: #fcfcfc;
	width: 720px;
}




























